.container{
    width:800px;
	margin-left:auto;
	margin-right:auto;
}
.convert{
	position:relative;
	left:750px;
	top:-1000px;
}
p{
	color:#ff44ee;
	font-size: 18px;
}

.input{
	width:300px;
	font-size: 20px;
}
.binary{
	color:#cc00bb;
	font-size:20px;
}

.snate{
	position:relative;
	top:10px;
	color:#66bbff;
	font-size:50px;
	left:50px;
}
.world{
	position:relative;
	top:10px;
	color:#66bbff;
	font-size:40px;
	right:150px;
}

.cover{

	z-index:1;
	position:;
	
	width:1900px;
	
}

.body{
	height:1096px;
}


.decimal{
	color:#cc00bb;
	font-size:20px;

}

.input2{
	width:300px;
	font-size: 20px;
}


