.container{
    width:800px;
	margin-left:auto;
	margin-right:auto;
}
.convert{
	position:relative;
	left:230px;
	top:-600px;
}
p{
	color:#ff44ee;
	font-size: 18px;
}

.input{
	width:300px;
	font-size: 20px;
}
.binary{
	color:#cc00bb;
	font-size:20px;
}

.snate{
	position:relative;
	top:400px;
	color:#66bbff;
	font-size:50px;
	left:50px;
}
.world{
	position:relative;
	top:400px;
	color:#66bbff;
	font-size:40px;
	right:150px;
}

.cover{
	z-index:1;
	position:;
	margin-left:px;
}
